@model _2380601390_HuynhVanNam.Models.Product

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input asp-for="Id" type="hidden" />

    <input asp-for="Name" />
    <input asp-for="Price" />

    <select asp-for="CategoryId">
        @foreach (var c in ViewBag.Categories)
        {
            <option value="@c.Id">@c.Name</option>
        }
    </select>

    <input type="file" name="imageFile" />

    <button type="submit">Cập nhật</button>
</form>