@model _2380601390_HuynhVanNam.Models.Product

<h2 class="text-center mb-4">Thêm Sản Phẩm</h2>

<div class="card shadow p-4">

    <form asp-action="Add" method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <label class="form-label">Tên sản phẩm</label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Giá</label>
            <input asp-for="Price" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Mô tả</label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Loại</label>
            <select asp-for="CategoryId"
                    asp-items="ViewBag.Categories"
                    class="form-control">
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Ảnh sản phẩm</label>
            <input type="file" name="imageFile" class="form-control" />
        </div>

        <button type="submit" class="btn btn-success">
            Thêm sản phẩm
        </button>

        <a asp-action="Index" class="btn btn-secondary">
            Quay lại
        </a>

    </form>

</div>